{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
    <center>
        <div class="jumbotron jumbotron-fluid bg-info text-light">
            <h2 class="display-4">Serpent OS</h2>
            <h3 class="display-5">YOUR System - YOUR Way</h2>
            <br />
            <a class="btn btn-outline-light btn-lg" href="/about" role="button">Learn more</a>
        </div>
    </center>

    <div class="container page-content">

    <h2 class="display-5"><center>YOU have the power!</center></h2>

    <script src="https://opencollective.com/serpent-os/contribute/button.js" color="blue"></script><br />

    <p class="lead">The collective efforts of a community of contributors to make your life easier with optimal performance and sensible configuration options helping you get the most from your computing experience.</p>
    <center><p class="lead">The device is yours - you control the software and you have the freedom to decide.</p></center>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-route fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Flexible</h2>
                    <p class="lead mx-3">Empowering users to make their own decisions, without getting in their way. This is why Serpent OS is highly extensible, allowing you to create use cases we never dreamed of.</p>
                    <a href="/flexibility">Learn more</a>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-shipping-fast fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Performant</h2>
                    <p class="lead mx-3">Pushing the limits of what's possible by making binaries more efficient in all configurations.</p>
                    <a href="/performance">Learn more</a>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-hands-helping fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Reliable</h2>
                    <p class="lead mx-3">Built on top of the robust Linux kernel. Our mission is to keep you running without the hassle.</p>
                    <a href="/reliable">Learn more</a>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-dolly fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Smarter</h2>
                    <p class="lead mx-3">Subscriptions make life easier by installing packages you need before you discover you need it.</p>
                    <a href="/subscriptions">Learn more</a>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-code fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Helping Contributors</h2>
                    <p class="lead mx-3">Reducing frictions and improving the efficiency of contributors and developers.</p>
                    <a href="/contributors">Learn more</a>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-heart fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Community Orientated</h2>
                    <p class="lead mx-3">A welcoming environment for users and contributors. Serpent OS would not be possible without the support from our loving community. A fun environment for users, contributors and the team.</p>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1">
            <div class="row">
                <div class="col-3 col-sm-2 text-right">
                    <i class="fas fa-hand-holding-usd fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="mx-3">Free</h2>
                    <p class="lead mx-3">Serpent OS is and always will be free to download. This includes the open source tools we use to create it.</p>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}
