<script src="/js/bootstrap.bundle.min.js"></script>
<script>
    function dark() {
        dark_mode = localStorage.getItem("dark_mode");
        if (dark_mode == "dark") {
                localStorage.setItem("dark_mode","light")
                icon = document.getElementById("dark-mode-icon").className = "fas fa-moon";
        }else {
                localStorage.setItem("dark_mode","dark");
                icon = document.getElementById("dark-mode-icon").className = "fas fa-sun";
        }

    }
</script>

<footer class="text-dark">
    <div class="container-fluid page-footer py-3">
        <div class="text-center">
                <button class="btn" onclick="dark()">
                    <i id="dark-mode-icon" class="fas fa-moon"></i>
                </button>
        </div>
        <div class="row">
            <div class="col-sm 12 col-lg-6 text-center">
                {{.Site.Copyright | safeHTML}}
            </div>
            <div class="col-sm-12 col-lg-6 text-center">
                <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" class="text-muted">About</a>
            </div>
        </div>
    </div>
</footer>
