{{ $currentPage := . }}

<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">

	<div class="container-fluid">
	
		<a class="navbar-brand" href="/">
			<img src="/img/black_notext_0.5x.png" width="30" height="26" alt="" class="d-inline-block align-text-top">Serpent OS
		</a>

		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMenu" aria-controls="primaryMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="primaryMenu">

			<!-- Primary nav links -->
			<ul class="navbar-nav me-auto">

			{{ range .Site.Menus.main }}
			{{ $active := false }}
			{{ if ne .URL "/" }}
				{{ if hasPrefix $currentPage.URL .URL}}
					{{ $active = true }}
				{{ end }}
			{{ else }}
				{{ if eq .URL $currentPage.URL }}
					{{ $active = true }}
				{{ end }}
			{{ end }}

			<li class="nav-item">
				<a href="{{ .URL }}" class="nav-link {{if $active }} active{{end}}">
					{{ .Pre }}
					{{ .Name }}
				</a>
			</li>
			{{ end }}
			</ul>
			
			<!-- Social links //-->
			<ul class="navbar-nav mr-auto nav-flex-icons">
			{{ range .Site.Menus.social }}
				<li class="nav-item">
					<a class="nav-link" alt="{{.Name}}" {{ printf "href=%q" .URL | safeHTMLAttr }}>
					{{ .Pre }}
					</a>
				</li>
			{{ end }}
			</ul>
		</div>

</div>

</nav>

</header>
